/* About page */
.about-page {
  .entry-content {
    h2 {
      font-family: $font_title;
      font-size: 35px;
    }
    p {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 40px;
      font-family: $font__main;
      font-size: 20px;
    }
  }

  .hero-image-header {
    height: 900px;

    h1 {
      color: white;
    }
  }
}
