/* About page */
.about-page {
  .entry-content {
    p {
      text-align: center;
      margin-left: 300px;
      margin-right: 300px;
      // width: 100%;
    }
  }

  .hero-image-header {
    height: 900px;

    h1 {
      color: white;
    }
  }
}
// img {
//   width: 70px;
//   margin-left: 50px;
// }
