.page-id-49 {
  .site-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    padding-top: 50px;
  }
  .content-area {
    width: 80%;
    border-right: 1px solid #e1e1e1;

    .site-main {
      .find-title {
        font-size: 33px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-title;
      }
    }
  }
}

.widget-area {
  width: 20%;
  padding-left: 10px;

  ul {
    padding-left: 0px;
    margin: 0;
    li {
      a {
        text-decoration: none;
        color: #248a83;
      }
    }
  }
}

.wpforms-container-full .wpforms-form button {
  background-color: $green-color !important;
  color: white !important;
  text-transform: uppercase;
  font-family: $font-title;
  font-size: 14px !important;
  padding: 10px 20px !important;
  &:hover {
    background-color: darken($color: #248a83, $amount: 3) !important;
  }
}

.wpforms-container-full .wpforms-form input {
  width: 350px !important;
  background-color: #f4f4f4 !important;
}

.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-family: $font-title !important;
  font-weight: normal !important;
}

.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
  height: 240px !important;
  width: 95% !important;
  background-color: #f4f4f4 !important;
}
/* add a container inside the site contente with a class called 'container' and set a 1180 width wit margin 0 auto to get rid of the padding left */
