.home-page {
  .site-content {
    width: 100%;
    padding-top: 0;

    .title_front {
      font-family: $font-title;
      text-align: center;
      margin: 70px 0;
      font-size: 35px;
    }

    .taxo-square {
      display: flex;
      flex-direction: row;
      width: 1120px;
      margin-left: auto;
      margin-right: auto;

      .rect-image {
        display: flex;
        flex-direction: column;
        width: 25%;
        border-top: 5px solid $medium-gray;
        border-left: 1px solid $medium-gray;
        border-right: 1px solid $medium-gray;
        border-bottom: 1px solid $medium-gray;
        align-items: center;
        margin-right: 25px;
        padding: 13px 12px;

        &:hover {
          border-color: $orange-color;
        }
        img {
          width: 76px;
        }

        .context {
          text-align: center;
          padding: 0 7px;
          font-size: 18px;
        }
        a {
          font-family: $font_title;
          text-decoration: none;
          text-transform: uppercase;
          border: 1px solid $green-color;
          padding: 10px 25px;
          background-color: $green-color;
          color: white;
          &:hover {
            background-color: darken($color: $green-color, $amount: 5);
          }
        }
      }
    }

    .front-post-wrap {
      display: flex;
      flex-direction: row;
      width: 1120px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      margin-bottom: 40px;
      height: 500px;

      .front-wrap-container {
        padding-right: 24px;

        .front-post-container {
          width: 100%;
          background-color: $medium-gray;

          img {
            height: 223px;
            object-fit: cover;
          }
        }

        .post-info {
          height: 153px;
          flex-direction: column;
          border: 1px solid $light-gray;

          .front-post-title {
            font-family: 'Novecento Sans Web';
            padding: 0 20px;
            line-height: 0;

            .frontpost {
              margin: 0;
              a {
                line-height: 1;
                font-family: $font-title;
                font-size: 20px;
                text-decoration: none;
                color: $green-color;
              }
            }
          }
        }
        .buttonfront {
          margin-left: 20px;
          line-height: 0;
          padding-top: 40px;
          a {
            font-family: $font-title;
            text-transform: uppercase;
            border: 1px solid black;
            padding: 10px 8px;
            text-decoration: none;
            color: black;
            &:hover {
              background-color: $green-color;
              color: white;
              border: none;
            }
          }
        }

        .front-comments {
          font-family: $font__main;
          margin: 10px 5px;
          font-size: 15px;
        }
      }
    }
  }

  .logo-front {
    position: absolute;
    top: 303px;
    right: 554px;
    width: 300px;
  }

  img {
    width: 100%;
  }
}
