.post-template-default {
  .site-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    padding-top: 50px;
    flex-wrap: wrap;

    .content-area {
      width: 68%;
      padding-right: 5%;
      border-right: 1px solid black;

      .site-main {
        margin-top: 40px;
      }
    }
    .entry-meta {
      position: absolute;
      color: white;
      background-color: #248a83;
      text-transform: uppercase;
      bottom: 7px;
      right: 0px;
      text-decoration: none;
      padding: 5px 25px;
    }
    .entry-content {
      margin: 0;
      p {
        margin-left: 10px;
        margin-right: 70px;
        text-align: initial;
      }
    }

    .entry-header {
      position: relative;
    }

    .entry-title {
      color: white;
      background-color: #248a83;
      max-width: 75%;
      font-size: 2.3rem;
      position: absolute;
      left: 0;
      padding: 0.75rem 1.5rem;
      margin-top: 2.25rem;
      top: 0px;
    }
  }
}

.entry-meta {
  position: absolute;
  color: white;
  background-color: #248a83;
  text-transform: uppercase;
  bottom: 7px;
  right: 0;
  text-decoration: none;
  padding: 5px 25px;
}

.content-widget {
  width: 32%;
  padding-left: 3px;
  border-left: 1px solid #e1e1e1;
}

.entry-footer {
  font-size: 18px;
  margin: 30px 10px;

  .social-button {
    margin: 20px 0;
    .sbutton {
      color: black;
      padding: 15px 38px;
      border-radius: 0;
      background-color: white;
      border: 1px solid black;
      box-shadow: none;
      &:hover {
        box-shadow: none;
        background-color: $green-color;
        color: white;
        text-shadow: none;
        border: none;
      }
    }
  }
  .cat-links {
    margin-right: 30px;
    a {
      text-decoration: none;
      color: #248a83;
    }
  }

  .tags-links {
    margin-right: 30px;
    a {
      text-decoration: none;
      color: #248a83;
    }
  }
}

.comments-area {
  .comment-respond {
    .comment-reply-title {
      color: black;
      font-size: 32px;
      letter-spacing: 2px;
      font-weight: normal;
    }
  }
}

.comment-form {
  .comment-form-comment {
    text-transform: uppercase;
    font-size: 20px;
    font-family: $font_title;
    #comment {
      margin: 0px;
      width: 90%;
      height: 251px;
      border: 1px solid #e1e1e1;
      background-color: #f4f4f4;
      padding-left: 3px;
    }
  }
  .form-submit {
    .submit {
      border: 1px solid;
      border-color: #248a83;
      border-radius: 0px;
      background: #248a83;
      box-shadow: none;
      color: white;
      padding: 12px 33px;
      text-shadow: none;
      font-size: 14px;
      &hover {
        background-color: darken($color: #248a83, $amount: 2);
      }
    }
  }
}
